<tr>
    <td><%= announcement.title %></td>
    <td><%= announcement.annoucement %></td>
    <td><%= link_to 'Show', announcement %></td>

    <% if current_user == announcement.user %>
    <td><%= link_to 'Edit', edit_announcement_path(announcement) %></td>
    <td><%= link_to 'Delete', announcement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
 </tr>