<div class="row">
	<div class="span6 offset3">
		<div class="well">
<p>
  <b>Title:</b>
  <%= @announcement.title %>
</p>

<p>
  <b>Announcement:</b>
  <%= @announcement.annoucement %>
</p>
<p>
  <%= @announcement.user.name %>
</p>
<% if current_user == @announcement.user %>
<%= link_to 'Edit', edit_announcement_path(@announcement) %> |
<% end %>

<%= link_to 'Back', announcements_path %>

</div>
</div>
</div>



