<% if user_signed_in? %>

<div class="container">
<div class="span8 offset1">
			
<h1> Human Rights </h1>
</div>



<div class="span8 offset1">
			<div class="well">
<table class="table table-striped">
	<tbody>
	<tr>
	<th>
		<h3>Chapter 1 : Introduction to Basic Human Rights</h3>
	</th>
	</tr>
	<tr>
		<td>
	<h4><%=link_to 'Introduction to Basic Human Rights', course1_path %></h4>
	</td>
	<tr>
	<td>
	<h4><%=link_to 'Introduction to Basic Human Rights', "#" %>
		</h4>
	</td>
</tr>
<tr>
	<td>
	<h4><%=link_to 'Introduction to Basic Human Rights', "#" %>
		</h4>
	</td>
</tr>
<tr>
	<td>
	<h4><%=link_to 'Introduction to Basic Human Rights', "#" %>
		</h4>
	</td>
	</tr>
</tbody>
</table>
</div>
</div>

<div class="span8 offset1">
			
<h1> National Human Rights Institutions</h1>
</div>



<div class="span8 offset1">
			<div class="well">
<table class="table table-striped">
	<tr>
	<th>
		<h3>Chapter 2 : Roles and Functions of NHRIs</h3>
	</th>
	</tr>
	<tr>
		<td>
	<h4><%=link_to 'Introduction to Basic Human Rights', "#" %></h4>
	</td>
	<tr>
	<td>
	<h4><%=link_to 'Introduction to Basic Human Rights', "#" %>
		</h4>
	</td>
</tr>
<tr>
	<td>
	<h4><%=link_to 'Introduction to Basic Human Rights', "#" %>
		</h4>
	</td>
</tr>
<tr>
	<td>
	<h4><%=link_to 'Introduction to Basic Human Rights', "#" %>
		</h4>
	</td>
	</tr>
</table>
</div>
</div>

</div>

<% else %>
<br>
<h3>In order to access the contents of the course, please <%= link_to "sign up", new_user_registration_path %> here or login at the top panel above.<h3>

<% end %>